#torch
torch-geometric==1.4.3
#torch-scatter
#torch-sparse
#torch-cluster
#torch-spline-conv
selenium
pillow
gym
networkx
beautifulsoup4
bpemb
num2words
git+https://github.com/openai/baselines.git@master#egg=baselines
linkGrabber
tensorboardX
arsenic==20.9
pytest
pytest-asyncio
git+https://github.com/ikostrikov/pytorch-a2c-ppo-acktr-gail.git@master#egg=pytorch-a2c-ppo-acktr-gail
git+https://github.com/zbyte64/miniwob-plusplus.git@a2b432b#egg=miniwob
Flask
flask-cors
